*{
    margin: 0;
    padding: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
}
body{
    background-color: #002339;
    color: white;
}
.containr{
     margin: 100px;
    width: 90%;
    max-width: 700px;
}
.containr h1{
    font-size: 42px;
    font-weight: 500;
}
span{
    color: #019f55;;
    border-bottom: 4px solid #019f55;
    padding-bottom: 12px;
}
.display{
    height:65px;
    margin-top: 70px;
    margin-bottom: 30px;
    border: 2px solid white;
    padding: 12px;
    max-width: 400px;
    background: #fff;
    color: #333;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 4px;
}
.display img{
   width: 60px;
   cursor: pointer;
}
.display input{
    outline: 0;
    border: 0;
    font-size: 22px;
}
.btn{
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #019f55;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
}
 